/* Lab 4 - CSS Styles */

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color:#608BC1;
}

header {
    background-color: #608BC1;
    color: white;
    padding: 20px;
    text-align: center;
}

nav ul {
    list-style: none;
    padding: 0;
    text-align: center;
    background-color: #608BC1;
    margin: 0;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    padding: 10px;
}

nav ul li a:hover {
    text-decoration: underline;
}

section {
    margin: 20px;
    padding: 20px;
    background: white;
    border-radius: 8px;
}

footer {
    text-align: center;
    padding: 10px;
    background-color: #CBDCEB;
    color: rgb(19, 62, 135);
    position: relative;
    bottom: 0;
    width: 100%;
    margin-top: 20px;
}
